<nav>
  <a href="/">Home</a>

<div class="dropdown">
  <!-- Make Research itself a clickable link -->
  <a class="dropbtn" href="{{ '/research.html' | relative_url }}">Research ▾</a>

  <div class="dropdown-content">
    <a href="{{ '/research.html' | relative_url }}">Overview</a>
    <a href="{{ '/lens-search.html' | relative_url }}">Lens Search</a>
    <a href="{{ '/lens-modeling.html' | relative_url }}">Lens Modeling</a>
    <a href="{{ '/jwst-lens-simulations.html' | relative_url }}">JWST Strong Lens Forecast and Simulations</a>
    <a href="{{ '/cosmology.html' | relative_url }}">Cosmology</a>
  </div>
</div>

  <a href="/teaching.html">Teaching</a>
  <a href="/publications.html">Publications</a>
  <a href="/publicity.html">Press &amp; Awards</a>
  <a href="/team.html">Our Team</a>
  <a href="/hubble-programs.html">Hubble Programs</a>
  <a href="/CV_XiaoshengHuang.pdf" target="_blank">CV</a>
</nav>
