<nav>
  <a href="/">Home</a>

  <div class="dropdown">
    <button class="dropbtn">Research ▾</button>
    <div class="dropdown-content">
      <a href="/lens-search.html">Lens Search</a>
      <a href="/lens-modeling.html">Lens Modeling</a>
      <a href="/halo-mass.html">Dark Matter Halo Mass Function</a>
      <a href="/cosmology.html">Cosmology</a>
    </div>
  </div>

  <a href="/teaching.html">Teaching</a>
  <a href="/publications.html">Publications</a>
  <a href="/publicity.html">Press &amp; Awards</a>
  <a href="/team.html">Our Team</a>
  <a href="/hubble-programs.html">Hubble Programs</a>
  <a href="/CV_XiaoshengHuang.pdf" target="_blank">CV</a>
</nav>
